<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push" [ngStyle]="{width: '250px'}">
        <mat-toolbar color="primary" class="mat-elevation-z6">
            <span>Menú</span>
            <span class="spacer"></span>


            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
       
        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar color="primary" class="mat-elevation-z6">
        <button>
            <button mat-icon-button color="primary" (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </button>
        <span class="spacer"></span>

        <button mat-button>Logout</button>
    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>