<mat-card class="w-full my-5">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{product?.name}}</mat-card-title>
        <mat-card-subtitle>{{product?.author}}</mat-card-subtitle>
    </mat-card-header>
    <img class="__image" mat-card-image [src]="product?.image" [alt]="product?.name">
    <mat-card-content>
        <p class="my-5">{{product?.description}}</p>
    </mat-card-content>
    <mat-card-actions>
        <mat-chip-listbox aria-label="Fish selection">
            <mat-chip-option>{{product?.editorial}}</mat-chip-option>
        </mat-chip-listbox>

        <span class="spacer"></span>
        <button mat-button (click)="onAddCart(product)">Agregar al Carrito</button>
    </mat-card-actions>
</mat-card>